@media (max-width: 992px) {
    .header {
        justify-content: space-around;
    }
    .promo__wrapper {
        margin-right: 8vw;
    }
    .consult {
        padding-left: 20px;
    }
}

@media (max-width: 700px) {
    .promo {
        min-height: 600px;
        padding: 21px 0 21px 0;
    }
    .header {
        flex-direction: column;
    }
    .header__official {
        margin-top: 20px;
    }
    .header__contacts {
        margin-top: 20px;
    }
    .promo__wrapper {
        display: flex;
        align-items: center;
        margin-right: 0px;
        margin-top: 26px;
    }
    .promo__icons {
        margin-top: 30px;
    }
    .button {
        margin: 16px auto;
    }
    .button__main {
        margin-top: 18px;
    }
    .advantages__icons {
        flex-direction: column;
    }
    .consult {
        .title_left {
            font-size: 27px;
        }
    }
    .catalog {
        display: none;
    }
    .slider {
        display: none;
    }
    .reviews {
        h2 {
            margin-top: 25px;
        }
    }

}

@media (max-width: 560px) {
    .promo {
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 280px;
        }
        &__icon {
            width: 97px;
            font-size: 12px;
        }
    }
    .advantages__icons {
        margin-top: 20px;
    }
    .consult {
        padding-top: 20px;
        .container {
            max-width: 80%;
        }
        .title_left {
            font-size: 24px;
        }
        &__descr {
            margin-top: 30px;
        }
    }

    .feed-form {
        width: calc(160px + 25vw);
    }

    .reviews {
        .title {
            font-size: 26px;
        }
        &-item {
            flex-direction: column;
            text-align: center;
        }
        &__inner {
            margin-top: 20px;
            margin-left: 0;
        }
        &__text {
            max-width: 300px;
            text-align: justify;
        }
    }
    .footer {
        &__info {
            max-width: 320px;
            padding: 20px 20px 0px;
        }
        &__social {
            height: 200px;
            &-item {
                margin: 0 5px;
            }
        }
        
    }
}

@media (max-width: 410px) {
    .modal {
        &__close {
            top: 6px;
            padding-left: 250px;
            color: antiquewhite;
        }
        &__dialog {
            max-width: 280px;
            margin: 60px auto;
        }
    }
}